html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html,
body * {
	cursor: none;
}

body {
	width: 100%;
	background-size: cover;
}

a {
	position: relative;
	/* clickable w/ different z-index's */
	color: inherit;
	/* remove link colour */
}

/* 
 * cursor styling 
 */

.cursor {
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
}

.cursor--small {
	width: 5px;
	height: 5px;
	left: -2.5px;
	top: -2.5px;
	border-radius: 50%;
	z-index: 11000;
	background-color: darkgreen;
}

.cursor--canvas {
	width: 100vw;
	height: 100vh;
	z-index: 12000;
}

/* .c-cursor {
	pointer-events: none;
	Important for links! 
	border: 2px solid rgba(157, 185, 191, 1);
	border-radius: 50%;
	width: 30px;
	height: 30px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;

	opacity: 0;
	transition: border-color 0.5s ease-in;
}

.c-cursor__inner {
	width: 100%;
	height: 100%;
	background: #9db9bf;
	border-radius: 50%;
	opacity: 0.3;
	z-index: 4;
	transition: transform 0.5s ease-in;
	transform: scale(0.5, 0.5);
	transition: all 0.3s ease-out;
}

.c-cursor.is-active {
	border-color: rgba(157, 185, 191, 0);
}

.c-cursor.is-active .c-cursor__inner {
	opacity: 1;
	transition: transform 0.5s ease-in;
	transform: scale(0.3, 0.3);
} */

/* 
 * button styling + animation
 */

.myBtn {
	position: absolute;
	transition: 0.8s ease-out;
	opacity: 0;
	grid-area: button;
	/* center-top in button grid area */
	justify-self: center;
	align-self: center;
	padding: 24px 48px;
}

button {
	display: block;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 6px;
	color: #fff;
	/* border: 2px solid #fff; */
	border: none;
	text-transform: uppercase;
	outline: none;
	overflow: hidden;
	background: none;
	z-index: 2;
	transition: 0.8s ease-out;
}

.myBtn:hover {
	color: #101010;
}

.myBtn:before {
	content: '';
	position: absolute;
	background: rgba(0, 128, 0, 0.8);
	bottom: 0;
	left: 0;
	right: 0;
	top: 100%;
	z-index: -1;
	transition: top 0.8s ease-out;
}

.myBtn:hover:before {
	top: 0;
}

/* 
 * intro name and title w/ animations 
 */

h1 {
	font-weight: bold;
	color: #fff;
	font-size: 3.5em;
	margin: 0.1em;
	font-style: italic;
}

h2 {
	font-style: bold;
}

.rev-block {
	position: absolute;
	grid-area: name;
	justify-self: center;
	align-self: end;
	padding: 0.2em 1em;
}

.rev-block span {
	opacity: 0;
	animation: appear-text 0.0001s linear forwards;
	animation-delay: 1.4s;
}

.rev-block:after {
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 0%;
	height: 100%;
	background: white;
	animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation-delay: 1s;
}

@keyframes rev-block {
	0% {
		left: 0;
		width: 0%;
	}

	50% {
		left: 0;
		width: 100%;
	}

	100% {
		left: 100%;
		width: 0%;
	}
}

@keyframes appear-text {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#onemore {
	font-size: 2.5em;
	grid-area: title;
	justify-self: center;
	align-self: start;
}

#onemore span {
	animation-delay: 2s;
}

#onemore.rev-block:after {
	background: #1a1919;
	animation-delay: 1.4s;
}

/* 
 * initial page 
 */

.overlay {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100vh;
	background: #101010;
	display: grid;
	height: 100vh;
	grid-gap: 10px;
	grid-template-areas:
		'name'
		'title'
		'button';
	grid-template-rows: 2fr 1fr 1fr;
}

.overlay p {
	font-size: 300px;
	font-weight: 800;
}

/* momentary middle overlay */

.overlay-2 {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100vh;
	background: green;
}

/* 
 * homepage 
 */

.content {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	background-color: white;
	overflow: hidden;
}

.content h1 {
	font-size: 30px;
	color: #101010;
	font-weight: 700;
	text-transform: uppercase;
}

.content p {
	color: black;
	font-weight: 400;
}

/* 
 * homepage project sliders 
 */

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.card {
	width: 100%;
	height: 100vh;
	display: flex;
	background: #fff;
}

.card-img {
	background-position: center;
	width: 40%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.5s;
	z-index: 1;
	overflow: hidden;
}

.card-img:hover {
	transform: scale3d(1.1, 1.1, 1.1);
}

/* .tinted-image {
	background: 
	   top, transparent red, faked with gradient  
	  linear-gradient(
		rgba(255, 0, 0, 0.45), 
		rgba(255, 0, 0, 0.45)
	  ),
	  
	  url('../imgs/art/art1.jpg');
  } */

/* translucent image cover */
.img-layer {
	background-color: green;
	opacity: 0.1;
	width: 100%;
}

.card-img-layer:hover {
	opacity: 0;
	width: 120%;
	transition: 0.5s;
}

#img01 {
	background-image: url('../imgs/art/art1.jpg');
}

#img02 {
	background-image: url('../imgs/photography/misc/misc5.jpg');
}

#img03 {
	background-image: url('../imgs/photography/music/music1.jpg');
}

/* written description half of card */
.card-content {
	z-index: 2;
	padding: 15% 10%;
	box-sizing: border-box;
	width: 60%;
	background: rgb(255, 255, 255);
	/* grid */
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		'card-theme'
		'card-header'
		'card-para'
		'card-button';
	grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr;
	/* for animation */
}

.card-theme {
	color: darkgreen;
	grid-area: card-theme;
	font-weight: 900;
	font-size: 1.7vmin;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin: 0;
	align-self: center;
	text-align: end;
}

.card-header {
	color: rgba(8, 8, 8);
	grid-area: card-header;
	position: relative;
	font-weight: 700;
	font-size: 10vmin;
	line-height: 1;
	margin: 0;
	right: 1.5%;
}

.card-header:hover {
	color: transparent;
	-webkit-text-stroke: 2px rgba(8, 8, 8);
}

.card-para {
	color: rgba(8, 8, 8, 0.5);
	grid-area: card-para;
	font-size: 2vmin;
	line-height: 1.8;
	font-weight: 300;
	margin: 0;
	align-self: center;
}

.counter {
	position: absolute;
	left: -20%;
	top: -14%;
	font-size: 30em;
	opacity: 0;
	color: darkgreen;
}

/* link to project */
.card-link {
	grid-area: card-button;
	font-size: 2vmin;
	font-weight: bold;
	opacity: 0.7;
	transition: opacity 0.3s ease;
	align-self: center;
	text-decoration: none;
	width: 18.5%;
	color: darkgreen;
}

.arrow {
	position: relative;
	/* so can be animated on card-link hover */
	margin: 5px;
	top: 1px;
}

/* buttons container */
.prevnext {
	position: absolute;
	width: 4vmin;
	height: 8vmin;
	right: 4%;
	bottom: 0;
	top: 85%;
	margin: 5 0;
}

.pn-btn {
	width: 100%;
	height: 50%;
	border: 0;
	background-color: transparent;
	font-size: 20px;
	color: black;
}

#prev {
	opacity: 0.2;
}

#prev,
#next {
	position: relative;
}

button:disabled:hover {
	cursor: not-allowed;
}

#prev:focus,
#next:focus {
	outline: none;
}

.pn-btn-unav {
	opacity: 0.6;
	transition: opacity 0.3s ease;
}

#prev:after {
	content: '↑';
}

#next:after {
	content: '↓';
}

/*
 * project css
 */

.project-container {
	position: relative;
}

.project-main-image-container {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.project-main-image {
	width: 120%;
	margin-left: -10%;
	margin-top: -10%;
}

.main-image-text {
	top: 50%;
	left: 20%;
	position: absolute;
	width: 50%;
}

.main-image-text > p {
	font-size: 3vmin;
	color: white;
}

.main-image-text > h2 {
	font-size: 15vmin;
	color: transparent;
	-webkit-text-stroke: 1px white;
	transition: 0.5s;
}

.main-image-text > h2:hover {
	color: white;
	-webkit-text-stroke: 1px white;
}

.project-title {
	width: 80%;
	height: 200px;
	margin: 0 auto;
}

.project-title-text {
	position: absolute;
	margin-top: 10%;
}

.project-description {
	width: 80%;
	height: 100px;
	margin: 0 auto;
}

.project-description-inner {
	display: inline-block;
	width: 32%;
}

.project-description-inner > h4 {
	color: darkgreen;
}

.project-image {
	width: 66.6%;
	margin: 0 auto;
}

.project-overview {
	width: 60%;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 10%;
}

.scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	/* smooth mobile scroll */
	width: 90%;
	float: right;
	/* right side of page */
}

/* don't display horizontal scrollbar */
.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}

.scrolling-card {
	display: inline-block;
	margin-left: -10%;
	overflow: hidden;
}

.next-project {
	height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.next-project-img {
	position: absolute;
	width: 100%;
}

.white-outline-transparent {
	color: transparent;
	-webkit-text-stroke: 1px white;
}

.white-outline-transparent:hover {
	color: white;
	-webkit-text-stroke: 1px white;
	transition: 0.5s;
}

/*
 * contact css
 */

.contact-container {
	width: 100%;
	height: 100vh;
	background-color: red;
	position: relative;
}

.contact-central {
	width: 50%;
	height: 70%;
	top: 25%;
	left: 25%;
	position: relative;
	background-color: green;
	z-index: 1;
}

.strip {
	position: absolute;
	display: inline-block;
	width: 110%;
	height: 10%;
	top: 55%;
	border: 5px solid yellow;
	border-left-color: none;
	border-bottom-color: yellow;
	font-weight: 700;
	letter-spacing: -0.5rem;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 5rem;
	line-height: 4rem;
	left: -3%;
}

.strip-large {
	height: 15%;
	top: 30%;
	border-top-color: yellow;
	border-bottom-color: yellow;
	font-size: 8rem;
	line-height: 7rem;
	z-index: 2;
}

/*
 * collage
 */

.collage-body {
	background-color: #1a1919;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
}

.collage-header {
	position: fixed;
	top: 5%;
	left: 5%;
	z-index: 1;
	/* stay visible above images */
}

.collage-img {
	position: absolute;
	animation: fadeI 0.5s;
}

/*
 * navigation
 */

.navigation-overlay:before {
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.48;
	position: fixed;
	top: -110%;
	width: 300%;
}

.menu-btn {
	position: fixed;
	right: 0;
	z-index: 10;
	margin: 2%;
}

.navigation-button {
	border: none;
	background: none;
}

.navigation-button:focus {
	outline: none !important;
}

i {
	outline: none;
}

.row,
.col-lg {
	margin: 0 !important;
	padding: 0 !important;
}

.col-lg {
	height: 100vh;
}

.col-lg.navigation-overlay {
	background: #000;
	position: fixed;
	top: -1000%;
	width: 100%;
	overflow: hidden;
	opacity: 0;
}

.col-lg.navigation-overlay:after {
	z-index: 1;
}

ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	margin: 0;
	padding: 0;
	width: 80%;
	text-align: center;
}

li {
	display: inline-block;
	color: white;
}

li:not(:last-child) {
	margin-right: 120px;
}

li:first-child {
	animation: fade-in 1;
}

li:first-child:hover::after {
	content: '';
	z-index: -1;
	width: 300px;
	height: 400px;
	display: block;
	position: absolute;
	background: url(../imgs/art/art1.jpg);
}

li:nth-child(2):hover::after {
	content: '';
	z-index: -1;
	width: 300px;
	height: 400px;
	display: block;
	position: absolute;
	background: url(../imgs/art/art2.jpg);
}

/* li:nth-child(3):hover::before {
	content: '';
	z-index: -1;
	width: 300px;
	height: 400px;
	display: block;
	position: absolute;
	top: -180px;
	left: -30px;
	background: url(hover_three.jpg);
	transition: 1s;
	animation: nav-fade-in 2s ease-in-out;
}

li:nth-child(4):hover::before {
	content: '';
	z-index: -1;
	width: 300px;
	height: 400px;
	display: block;
	position: absolute;
	top: -180px;
	left: -30px;
	background: url(hover_four.jpg);
	transition: 1s;
	animation: fade-in 2s ease-in-out;
} */

@keyframes nav-fade-in {
	0% {
		opacity: 0;
		top: -160px;
	}

	50% {
		opacity: 1;
		top: -180px;
	}

	100% {
		opacity: 1;
		top: -180px;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.vis {
	z-index: 3;
}

/* added to body when menu is open, to stop scrolling underneath */
/* .fixedPosition {
	position: fixed;
} */

/* menu burger */

.ham {
	-webkit-tap-highlight-color: transparent;
	transition: transform 1000ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hamRotate.active {
	transform: rotate(45deg);
}

.hamRotate180.active {
	transform: rotate(180deg);
}

.line {
	fill: none;
	transition: stroke-dasharray 300ms, stroke-dashoffset 300ms;
	stroke: green;
	stroke-width: 5.5;
	stroke-linecap: round;
}

.ham .top {
	stroke-dasharray: 40 160;
}

.ham .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 300ms;
}

.ham .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 300ms, stroke-dashoffset 300ms;
}

.ham.active .top {
	stroke-dashoffset: -64px;
}

.ham.active .middle {
	transform: rotate(90deg);
}

.ham.active .bottom {
	stroke-dashoffset: -64px;
}

/*
 * transition blocks
 */

.transition-blocks-animate {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.transition-block {
	height: 100%;
	width: 100%;
	background: #be2829;
	display: none;
}

.transition-block:nth-child(1) {
	background-color: darkgreen;
}

.transition-block:nth-child(2) {
	background-color: black;
}

/*
 * ThreeJS intro background
 */

canvas positions .content__inner {
	grid-area: 1 / 1 / 1 / 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.scene {
	position: absolute;
}

.scene--left {
	width: 100vmin;
	height: 100vmin;
	transform: translate3d(-50vmin, 0, 0);
}

.scene--full {
	width: 100%;
	height: 100vh;
}

.scene--up {
	height: 150vmin;
	width: 150vmin;
	top: -50vh;
	left: 50%;
	margin-left: -75vmin;
}

/*
 * font
 */

@import url('https://rsms.me/inter/inter.css');

html {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

/* 
 * media queries 
 */

@media (max-width: 900px) {
	h1 {
		font-size: 2em;
		padding: 0.1em 0.5em;
	}

	#onemore {
		font-size: 1.425em;
		padding: 0.1em 0.5em;
	}

	li {
		text-align: center;
		display: block !important;
		margin: 0 !important;
		padding: 20px 0;
	}

	li:hover::before {
		width: 0 !important;
	}
}
